.container{
    width:300px;
    min-height: 200px;
    /* border:solid 1px black; */
    margin:auto;
    margin-top:20px;
}
.title{
    border:solid 1px black;
    text-align: center;
    color: blue;
}