<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Coding Dojo Wall</strong>
                </a>
                {%if "username" in session:%}
                <h4 style="color:blue;">Welcome {{session["username"]}} </h4>
                <a href="/logout" >Logout</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                </button>
                {%else%}
                <h2 style="color:red;">You didn't log in. Can not access this page!</h2>
                <a href="/">Log in!</a>
                <a href="/"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" value="Log in!">
                    <!-- <span class="navbar-toggler-icon">Log in!</span></a> -->
                </button>
                {%endif%}
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
            </div>
        </div>
    </header>


    <div class="inner-bg">
        <div class="container">
    
            <div class="row">
                <div class="col-sm-5">
                    {%if "username" in session:%}
                    <h2> Messsage List</h2>
                    <h4>{{session["count_message"]}} messages for you!</h4>
                    <table>
                        {%for message in message_list%}
                        <tr>
                            <td>{{message['owner_name']}}</td>
                            <td>said</td>
                            <td>{{message["message"]}}</td>
                            <td> 
                               <a href="/wall/delete/{{message["id_message"]}}">
                                <img src="{{ url_for('static', filename='delete.png') }}" alt="delete" style="width:20px;height: 20px;">
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                    {%endif%}
                </div>
                <div class="col-sm-5">
                    {%if "username" in session:%}
                    <h2>Send Message</h2>
                    <h4>You have sent {{session["sent_message"]}} messages so far!</h4>
                    <table>
                        {%for receiver in receiver_list%}
                        <tr>
                            <form action="/message/send" method="POST">
                            <td>{{receiver["receiver"]}}</td>
                            <td>
                                <textarea name="message" rows="1" cols="60"></textarea>
                            </td>
                            <td>
                                <input type="submit" name="submit" value="Send">
                                <input type="hidden" name= "receiver_id" value={{receiver["id_user"]}}>
                                
                            </td>
                            </form>
                        </tr>

                        {%endfor%}
                    </table>
                    {% with errors = get_flashed_messages(category_filter=["message"]) %}
                    {% if errors %}
                    <div class="alert-message block-message error">
                        <a class="close" href="#">×</a>
                        <ul>
                            {%- for msg in errors %}
                            <li style="color:blue;">{{ msg }}</li>
                            {% endfor -%}
                        </ul>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {%endif%}

                </div>


            </div>
        </div>
    </div>
</body>
</html>