<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename = 'mystyle.css')}}">
    <title>Show List</title>
</head>
<body>
  
    <table>
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>Full name</td>
        </tr>
        {% for user in user_info%}
        <tr>
            <td>{{user['first_name']}}</td>
            <td>{{user['last_name']}}</td>
            <td>{{user['first_name']}} {{user['last_name']}}</td>
        </tr>
        {%endfor%}
        
    </table>
</body>
</html>