h1{
    text-align: center;
}
body {TEXT-ALIGN: center;}

.container{
    width :930px;
    min-height:200px;
    /* background-color:yellow;
    border:solid 2px black; */
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    
}

.playground{
    width:200px;
    height:200px;
    background-color:#9ec5f8;
    display: inline-block;
    margin-left:10px;
    margin-top:10px;
    border:solid 2px black;
}